// *{
// 	background-color: white;
// }
#insert {
	border: solid white 1px;
	border-radius: 10px;
	text-align: center;
}

    #container {
      width: 100vw;
      height: 50vh;
      background-color: white;
    }
    
    #entry {
    	      width: 200px;
      // height: 500px;
      // margin-left: 400px;
      margin-top: 50px;
    }
    


    // #navbarOverlaySVG {
    //   position: absolute;
    //   top: 0;
    //   left: 0;
    // }
    








    // text {
    //   font: bold 16px monospace;
    // }
    
    // .enter {
    //   fill: green;
    // }
    
    // .update {
    //   fill: #333;
    // }
    
    // .node circle {
    //   fill: #fff;
    //   stroke: #000;
    // }
    
    // path.link {
    //   fill: none;
    //   stroke: "#000";
    // }
    
    // .exit {
    //   fill: brown;
    // }
